@font-face {
	font-family: noteworthy;
	src: url('fonts/noteworthy.ttc');
}

@font-face {
	font-family: appleberry_with_cyrillic;
	src: url('fonts/appleberry_with_cyrillic.ttf');
}

#content {
  text-align: center;
  font-family: appleberry_with_cyrillic;
  color: green;
}